/*-----------------------------------------------------------------------------


  Universal Styling


-------------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #dea5a4;
}

header {
  background-color: yellow;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 99999;
}

header ul {
  background: yellow;
}

header li {
  display: inline;
  background: yellow;
}

header a {
  text-decoration: none;
  color: red;
  background: yellow;
  margin: 100px;
}

h1 {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 1px;
}

/*-----------------------------------------------------------------------------


  Main Page Styling


-------------------------------------------------------------------------------*/

#hello {
  float: left;
  margin-right: 20px;
}

.first {
  position: relative;
  top: 400px;
  margin: 20px 20px;
}

#whatsup {
  float: right;
  margin-left: 10px;
}

.second {
  position: absolute;
  top: 250px;
  margin: 20px 20px;
}

/*-----------------------------------------------------------------------------


  Second Page Styling


-------------------------------------------------------------------------------*/
.color {
  text-align: left;
  font-size: 24px;
  position: absolute;
  top: 200px;
  margin: 20px 20px;
}

#goodbye {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#goodbye:hover {
  filter:grayscale(90%);
  transition: 4s;
}


#sun {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: -1;
  animation-name: sunanim;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes sunanim {
  from {
      transform: translateX(0px);
  }
  to {
  transform: translateX(1500px);
  }
}
