/*-----------------------------------------------------------------------------


  Universal Styling


-------------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  border0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: yellow;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

header li{
  display: inline;
}

header a {
  text-decoration: none;
  color: red;
}

/*-----------------------------------------------------------------------------


  Main Page Styling


-------------------------------------------------------------------------------*/

#hello {
  float: left;
  margin-right: 20px;
}

div.first {
  position: relative;
  top: 60px;
  border: 2px blue;
}

#whatsup {
  float: right;
  margin-left: 10px;
}

div.second {
  position: absolute;
}

/*-----------------------------------------------------------------------------


  Second Page Styling


-------------------------------------------------------------------------------*/
